@font-face {
  font-family: parisr;
  src: url(../fonts/parisr.eot) format("embedded-opentype"), url(../fonts/parisr.ttf) format("truetype"), url(../fonts/parisr.woff) format("woff"), url(../fonts/parisr.svg) format("svg");
}

/*
$type [string] is the type of text (1:feature 2:booksLink)
*/
/* General */
/* Header */
/* Home Page */
/* Books Page */
/* Delivery Page */
/* Contact Us Page */
/* xxth Century Page */
/*
Applies standard styling for content elements (Excludes home feature)
*/
/*
Applies book styling for book elements
$feature? [boolean] determines if element is the home feature
*/
/*
Displays headers for Delivery Page table (mobile displays)
*/
/* line 6, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
html {
  height: 100%;
  font-size: 16px;
  font-family: Helvetica;
}

/* line 12, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
body {
  background-color: #aaaaaa;
  min-height: 100%;
  min-width: 360px;
  display: grid;
  justify-items: center;
  grid-template-rows: min-content 1fr min-content;
}

/* line 22, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
h1 {
  font-family: parisr;
}

/* line 26, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
a {
  color: #0077be;
}

/* line 30, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
header {
  display: grid;
  justify-items: center;
  width: 100%;
  background-color: #ffffff;
  min-height: calc(49px + 3.3rem);
  max-height: calc(111px + 3.3rem);
  z-index: 1;
}

/* line 39, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
header div {
  display: grid;
  grid-template-columns: min-content auto;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0.2rem 0;
  padding-bottom: 0.5rem;
  width: 100%;
  border-bottom: 1px solid #7a7a7a;
  white-space: nowrap;
}

/* line 52, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
header div a {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  grid-column: 1 / span 2;
  grid-row: 1;
}

/* line 61, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
header div h1 {
  color: #236841;
  font-size: calc(8vh / 3);
  line-height: 1.6;
  grid-column: 2;
  grid-row: 1;
  /* For Landscape Mobile */
}

@media screen and (max-height: 670px) {
  /* line 61, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
  header div h1 {
    font-size: 1rem;
  }
}

/* line 74, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
header div img {
  height: 100%;
  width: auto;
  justify-self: right;
  margin: 0 0.5rem 0.3rem 0;
  grid-column: 1;
  grid-row: 1;
}

/* line 84, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
header nav {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  white-space: nowrap;
  grid-column-gap: 0.7rem;
  padding: 0.2rem 8% 0.2rem 8%;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid #aaaaaa;
}

/* line 94, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
header nav a {
  text-decoration: none;
  color: #315a43;
}

/* line 101, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
main {
  width: 100%;
  max-width: 1920px;
}

/* line 106, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
footer {
  background-color: #ffffff;
  width: 100%;
  height: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
}

/* line 114, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
footer div {
  width: 100%;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
  grid-column-gap: 0.5rem;
  white-space: nowrap;
  padding: 0.7rem 0 0.5rem 0;
}

/* line 124, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
footer div a {
  color: #444488;
}

/* line 130, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.content {
  background-color: #aaaaaa;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-bottom: 0.5rem;
}

/* line 138, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.book {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  margin: 0.5rem 0.5rem 0 0 0;
  padding: 0.5rem;
  width: calc(100% - 2rem);
  border-top: 1px solid #aaaaaa;
}

/* line 34, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
.book h2 {
  margin: 0 0 0.4rem 0;
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* line 43, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
.book img {
  border: solid 5px #297b4d;
  margin: 1rem 0 1rem 0;
  padding: 0.5rem;
  width: 80%;
  min-width: 100px;
  height: 60vw;
  max-height: 170px;
  min-width: 100px;
  object-fit: contain;
}

/* line 60, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
.book p {
  margin: 0;
  text-align: justify;
  margin-top: 0.6rem;
}

/* line 142, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.info {
  display: grid;
  background-color: #ffffff;
  width: calc(100% - 1rem);
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
}

/* line 145, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.info h1 {
  font-family: Helvetica;
  font-size: 1.4rem;
  color: #236841;
  margin: 0.5rem 0.5rem 0.4rem 0.7rem;
}

/* line 152, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.info p {
  text-align: justify;
  margin: 0 0.7rem 0.7rem 0.7rem;
}

/* ------------------- Home Page ------------------- */
/* line 160, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#feature {
  background-color: #236841;
  padding: 0.5rem;
  width: calc(100% - 1rem);
}

/* line 165, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#feature h1 {
  padding-bottom: 0.3rem;
  font-size: 1.7rem;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

/* line 172, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#feature div {
  background-color: #ffffff;
  margin: 0;
  width: calc(100% - 1.4rem);
  height: calc(100% - 3.7rem);
  padding: 0.7rem;
  overflow: auto;
}

/* line 34, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
#feature div h2 {
  margin: 0 0 0.4rem 0;
  font-size: 1.2rem;
}

/* line 43, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
#feature div img {
  float: left;
  margin-right: 1rem;
}

/* line 60, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
#feature div p {
  margin: 0;
  text-align: justify;
}

/* line 177, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#emblem-video {
  display: grid;
  background-color: #ffffff;
  width: calc(100% - 1rem);
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  width: calc(100% - 1rem);
}

/* line 180, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#emblem-video div {
  display: grid;
  justify-content: center;
  background-color: #7a7a7a;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 188, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#emblem-video video {
  max-width: 100%;
}

/* line 193, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#books-link {
  display: grid;
  background-color: #ffffff;
  width: calc(100% - 1rem);
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  padding: 0;
  margin-top: 0.5rem;
  width: calc(100% - 1rem);
}

/* line 199, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#books-link div {
  width: calc(100% - 0.4rem);
  padding: 0;
  margin: 0.2rem;
  min-height: 4rem;
  background-image: url("../images/rumpour_at_nightfall.jpeg"), url("../images/ulysses.jpeg");
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: 40%, 40%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  display: grid;
  justify-items: center;
  align-items: center;
}

/* line 213, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#books-link div a {
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 4rem;
  font-weight: bold;
  font-family: parisr;
  color: #236841;
  text-shadow: 0px 0px 5px #ffffff;
}

/* ------------------ Books Page ------------------- */
/* line 230, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#books-banner {
  background: #7a7a7a;
  width: calc(100% - 1rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* For Landscape Mobile */
}

/* line 236, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#books-banner img {
  width: 100%;
  max-width: 225px;
  object-fit: cover;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  /* line 230, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
  #books-banner {
    max-height: 5rem;
  }
  /* line 245, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
  #books-banner img:first-child {
    margin-top: -3rem;
  }
  /* line 248, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
  #books-banner img:nth-child(2) {
    margin-top: -1rem;
  }
  /* line 251, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
  #books-banner img:nth-child(3) {
    margin-top: -1.5rem;
  }
}

/* line 257, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#books-banner + div {
  margin-top: 0;
}

/* ----------------- Delivery Page ----------------- */
/* line 263, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
table {
  width: 90%;
  text-align: right;
  justify-self: center;
  color: #ffffff;
  margin: 0.5rem 0 2rem 0;
}

/* line 271, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
tr {
  white-space: nowrap;
  background-color: #3db471;
}

/* line 275, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
tr:nth-of-type(even) {
  background-color: #308e59;
}

/* line 279, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
th {
  position: absolute;
  transform: translate(-100vw);
}

/* line 284, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
td {
  width: 100%;
  display: grid;
  justify-items: left;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid #eee;
  position: relative;
  padding: 0.2rem 0 0.2rem 0;
}

/* line 294, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
td::before {
  padding-left: 0.5rem;
  justify-self: left;
  font-family: monospace;
  font-weight: bold;
  color: #eeeeee;
  white-space: pre;
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(3) td:nth-of-type(1):before {
  content: "UK      " "<=1kg  " "Premium";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(3) td:nth-of-type(2):before {
  content: "        " "       " "Standard";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(3) td:nth-of-type(3):before {
  content: "        " ">1kg   " "Premium";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(3) td:nth-of-type(4):before {
  content: "        " "       " "Standard";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(3) td:nth-of-type(5):before {
  content: "        " ">3kg   " "Premium";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(3) td:nth-of-type(6):before {
  content: "        " "       " "Standard";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(4) td:nth-of-type(1):before {
  content: "Europe  " "<=1kg  " "Premium";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(4) td:nth-of-type(2):before {
  content: "        " "       " "Standard";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(4) td:nth-of-type(3):before {
  content: "        " ">1kg   " "Premium";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(4) td:nth-of-type(4):before {
  content: "        " "       " "Standard";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(4) td:nth-of-type(5):before {
  content: "        " ">3kg   " "Premium";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(4) td:nth-of-type(6):before {
  content: "        " "       " "Standard";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(5) td:nth-of-type(1):before {
  content: "USA/CA  " "<=1kg  " "Premium";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(5) td:nth-of-type(2):before {
  content: "        " "       " "Standard";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(5) td:nth-of-type(3):before {
  content: "        " ">1kg   " "Premium";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(5) td:nth-of-type(4):before {
  content: "        " "       " "Standard";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(5) td:nth-of-type(5):before {
  content: "        " ">3kg   " "Premium";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(5) td:nth-of-type(6):before {
  content: "        " "       " "Standard";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(6) td:nth-of-type(1):before {
  content: "Other   " "<=1kg  " "Premium";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(6) td:nth-of-type(2):before {
  content: "        " "       " "Standard";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(6) td:nth-of-type(3):before {
  content: "        " ">1kg   " "Premium";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(6) td:nth-of-type(4):before {
  content: "        " "       " "Standard";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(6) td:nth-of-type(5):before {
  content: "        " ">3kg   " "Premium";
}

/* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_layout.scss */
tr:nth-of-type(6) td:nth-of-type(6):before {
  content: "        " "       " "Standard";
}

/* --------------- Contact Us Page --------------- */
/* line 306, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
form {
  display: grid;
  grid-row-gap: 0.5rem;
  margin-bottom: 1rem;
  justify-self: center;
  width: 100%;
}

/* line 314, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
fieldset > * {
  display: block;
}

/* line 318, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
legend {
  font-size: 1.3rem;
  color: #236841;
  margin: 1rem 0 1rem 0;
}

/* line 324, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
label {
  font-size: 1.1rem;
}

/* line 328, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
input, select {
  margin: 0.5rem 0 1.2rem 0;
}

/* line 332, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.sublegend {
  font-weight: normal;
  font-size: 1.1rem;
  color: #000000;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 2, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  .info {
    grid-column: 1/ -1;
  }
  /* Home Page */
  /* line 7, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  #home-content {
    grid-template-columns: repeat(6, 1fr);
  }
  /* line 11, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  #feature {
    margin-top: 0.5rem;
    width: calc(100% - 2rem);
    grid-column: 1 / span 3;
    grid-row: 1/ span 2;
  }
  /* line 18, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  #emblem-video {
    grid-column-start: span 3;
    grid-row: 1;
  }
  /* line 23, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  #books-link {
    grid-column-start: span 3;
  }
  /* line 26, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  .book {
    width: calc(100% - 1rem);
    min-width: 340px;
  }
  /* Books Page */
  /* line 32, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  #books-banner {
    max-height: 10rem;
  }
  /* line 34, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  #books-banner img:first-child {
    margin-top: -3rem;
    justify-self: left;
  }
  /* line 38, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  #books-banner img:nth-child(2) {
    margin-top: -1rem;
    justify-self: center;
  }
  /* line 42, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  #books-banner img:nth-child(3) {
    margin-top: -1rem;
    justify-self: right;
  }
  /* Delivery Page */
  /* line 49, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  table {
    width: auto;
    margin: 2rem 1rem 4rem 1rem;
    text-align: center;
    color: #ffffff;
  }
  /* line 56, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  th {
    position: static;
    transform: translate(0);
    color: #eeeeee;
    background-color: #236841;
    padding: 0.5rem;
  }
  /* line 64, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  td {
    display: table-cell;
  }
  /* line 68, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  td::before {
    content: none !important;
  }
  /* line 72, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  #uk, #europe, #us-can, #world {
    text-align: left;
    padding-right: 3rem;
  }
  /* line 77, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  #blank {
    background-color: #ffffff;
  }
  /* xxth Century Books Page */
  /* line 82, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  #catalog-content {
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-row: repeat(auto-fill, min-content);
    grid-gap: 1rem;
    padding: 1rem;
  }
  /* line 90, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  #catalog-info {
    grid-column: 1 / -1;
    width: 100%;
  }
  /* --------------- Contact Us Page --------------- */
  /* line 97, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  form {
    width: calc(100% - 1rem);
    margin: 1rem 0 1rem 0;
    grid-template-columns: 1fr 1fr;
  }
  /* line 103, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  label {
    width: 40%;
    margin-top: 0.5rem;
    float: left;
  }
  /* line 109, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  input, select {
    width: 55%;
  }
  /* line 113, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  input[type=radio] {
    width: auto;
    margin: 0 8px 0 49%;
  }
  /* line 118, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  .sublegend {
    width: 100%;
    margin-top: 1rem;
    float: left;
  }
  /* line 124, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_tablet-styles.scss */
  .radio-label {
    display: inline-block;
  }
}

@media screen and (min-width: 1025px) {
  /* line 2, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  header {
    grid-template-columns: min-content 1fr;
    border-bottom: solid 1px #7a7a7a;
  }
  /* line 6, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  header div {
    margin: 0.5rem;
    border-bottom-style: none;
  }
  /* line 10, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  header div h1 {
    font-size: calc(111px / 3);
  }
  /* line 15, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  header nav {
    border-bottom-style: none;
    align-items: end;
    justify-self: right;
    padding: 0;
    margin: 0 1rem 0.5rem 0;
  }
  /* line 24, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  .info {
    grid-column-start: span 2;
  }
  /* Home Page */
  /* line 29, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  #home-content {
    grid-template-columns: repeat(6, 1fr);
  }
  /* line 33, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  #feature {
    margin-top: 0.5rem;
    width: calc(100% - 2rem);
    grid-column: 1 / span 3;
    grid-row: 1/ span 2;
  }
  /* line 40, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  #emblem-video {
    grid-column-start: span 3;
    grid-row: 1;
  }
  /* line 45, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  #books-link {
    grid-column-start: span 3;
  }
  /* line 48, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  .book {
    width: calc(100% - 1rem);
    min-width: 340px;
  }
  /* Books Page */
  /* line 54, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  #books-banner {
    max-height: 15rem;
    justify-items: center;
  }
  /* line 58, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  #books-banner img {
    margin: 0;
  }
  /* Delivery Page */
  /* line 64, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  table {
    width: auto;
    margin: 2rem 1rem 4rem 1rem;
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
  }
  /* line 72, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  th {
    position: static;
    transform: translate(0);
    color: #eeeeee;
    background-color: #236841;
    padding: 0.5rem;
  }
  /* line 80, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  td {
    display: table-cell;
  }
  /* line 84, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  td::before {
    content: none !important;
  }
  /* line 88, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  #uk, #europe, #us-can, #world {
    text-align: left;
    padding-right: 3rem;
  }
  /* line 93, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  #blank {
    background-color: #ffffff;
  }
  /* xxth Century Books Page */
  /* line 98, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  #catalog-content {
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-row: repeat(auto-fill, min-content);
    grid-gap: 1rem;
    padding: 1rem;
  }
  /* line 106, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  #catalog-info {
    grid-column: 1 / -1;
    width: 100%;
  }
  /* --------------- Contact Us Page --------------- */
  /* line 113, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  form {
    width: 800px;
    justify-self: left;
    margin: 1rem 0 1rem 5rem;
    grid-template-columns: 1fr 1fr;
  }
  /* line 120, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  label {
    width: 40%;
    margin-top: 0.5rem;
    float: left;
  }
  /* line 126, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  input, select {
    width: 55%;
  }
  /* line 130, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  input[type=radio] {
    width: auto;
    margin: 0 8px 0 49%;
  }
  /* line 135, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  .sublegend {
    width: 100%;
    margin-top: 1rem;
    float: left;
  }
  /* line 141, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/_desktop-styles.scss */
  .radio-label {
    display: inline-block;
  }
}

/*# sourceMappingURL=styles.css.map */