@font-face {
  font-family: parisr;
  src: url(../fonts/parisr.eot) format("embedded-opentype"), url(../fonts/parisr.ttf) format("truetype"), url(../fonts/parisr.woff) format("woff"), url(../fonts/parisr.svg) format("svg");
}

/*
$type [string] is the type of text (1:feature 2:booksLink)
*/
/*
Applies standard styling for content elements (Excludes home feature)
$last? [boolean] determines if element is the last element in the parent (content) div
*/
/* line 6, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
h1 {
  font-family: parisr;
}

/* line 10, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
h2, p, li, a {
  font-size: 16px;
  font-family: Helvetica;
}

/* line 15, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
a {
  color: #0077be;
}

/* line 19, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
nav {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-column-gap: 0.7rem;
  justify-items: center;
  width: 78%;
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 0.5rem;
  padding-bottom: .5rem;
  padding-left: 3%;
  padding-right: 3%;
  border-bottom: 1px solid #aaaaaa;
}

/* line 35, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
nav a {
  text-decoration: none;
  color: #315a43;
}

/* line 41, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
header {
  width: 100vw;
  background-color: #ffffff;
  height: calc(8vh + 3.3rem);
}

/* line 46, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
header div {
  display: grid;
  grid-template-columns: min-content auto;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  height: 8vh;
  width: 100%;
  border-bottom: 1px solid #7a7a7a;
}

/* line 59, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
header div h1 {
  color: #236841;
  font-size: calc(8vh / 3);
  line-height: 1.6;
}

/* line 64, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
header div img {
  height: 100%;
  width: auto;
  justify-self: right;
  margin-right: 0.5rem;
}

/* line 73, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#feature {
  background-color: #236841;
  padding: 0.5rem;
}

/* line 77, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#feature h1 {
  padding-bottom: 0.3rem;
  font-size: 1.7rem;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

/* line 84, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#feature div {
  background-color: #ffffff;
  margin: 0;
  width: calc(100% - 1rem);
  padding: 0.5rem;
}

/* line 90, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#feature div h2 {
  margin-top: 0rem;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

/* line 96, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#feature div img {
  float: left;
  padding: 0.7rem;
  padding-top: 0;
  padding-left: 0;
}

/* line 103, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#feature div p {
  margin: 0;
  font-size: 0.8rem;
  text-align: justify;
}

/* line 111, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#books_link {
  background-color: #ffffff;
  width: calc(100% - 1rem);
  max-width: calc(100vw - 1rem);
  margin: 0.5rem;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding: 0;
}

/* line 115, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#books_link div {
  width: calc(100% - 0.4rem);
  padding: 0;
  margin: 0.2rem;
  min-height: 4rem;
  background-image: url("../images/rumpour_at_nightfall.jpeg"), url("../images/ulysses.jpeg");
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: 60%, 60%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  display: grid;
  justify-items: center;
  align-items: center;
}

/* line 129, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#books_link div a {
  text-decoration: none;
  font-size: 4rem;
  font-weight: bold;
  font-family: parisr;
  color: #236841;
  text-shadow: 0px 0px 5px #ffffff;
}

/* line 140, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#emblem_video {
  background-color: #ffffff;
  width: calc(100% - 1rem);
  max-width: calc(100vw - 1rem);
  margin: 0.5rem;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: calc(100% - 1rem);
}

/* line 143, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#emblem_video div {
  display: grid;
  justify-content: center;
  background-color: #7a7a7a;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 151, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#emblem_video video {
  max-width: 100%;
}

/* line 156, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.info {
  background-color: #ffffff;
  width: calc(100% - 1rem);
  max-width: calc(100vw - 1rem);
  margin: 0.5rem;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* line 159, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.info h1 {
  font-family: Helvetica;
  font-size: 1.4rem;
  color: #236841;
  margin: 0.5rem;
  margin-bottom: 0.4rem;
}

/* line 167, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.info p {
  text-align: justify;
  margin: 0.5rem;
  margin-top: 0;
}

/* line 173, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.info a {
  display: inline;
}

/* line 178, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.content {
  background-color: #aaaaaa;
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  justify-items: center;
}

/* line 185, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.content div:last-child {
  background-color: #ffffff;
  width: calc(100% - 1rem);
  max-width: calc(100vw - 1rem);
  margin: 0.5rem;
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

/* line 190, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
.inline {
  display: inline;
}

/* line 194, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
footer {
  background-color: #ffffff;
  width: 100vw;
  height: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
}

/* line 202, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
footer div {
  width: 100%;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
  grid-column-gap: 0.5rem;
  white-space: nowrap;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
}

/* line 213, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
footer div a {
  color: #444488;
}

/* line 219, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
body {
  background-color: #aaaaaa;
  min-width: 360px;
  overflow-x: hidden;
}

/* line 225, ../../../OneDrive/University/Advanced Web Authoring/FMA/Site/scss/styles.scss */
#pagewrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/*# sourceMappingURL=styles.css.map */