$emblem-color: #236841;
$feature-header-color: #ffffff;
$dark-grey: #7a7a7a;
$light-grey: #aaaaaa;
$background-color: #aaaaaa;
$content-background-color: #ffffff;
$hyperlink-color: #0077be;
$footer-link-color: #444488;
$header-background-color: #ffffff;
$footer-background-color: #ffffff;