/* General */
$dark-grey: #7a7a7a;
$light-grey: #aaaaaa;
$emblem-color: #236841;
$font-color: #000000;
$background-color: #aaaaaa;
$content-background-color: #ffffff;
$hyperlink-color: #0077be;
$footer-link-color: #444488;
$footer-background-color: #ffffff;
$required-field-color: #ff0000;
$focus-color: #00ccff;
$skiplink-background: #a8a8a8;

/* Header */
$header-background-color: #ffffff;

/* Home Page */
$feature-header-color: #ffffff;

/* Books Page */

/* Delivery Page */
$table-header-color: #eeeeee;
$table-font-color: #ffffff;

/* Contact Us Page */

/* xxth Century Page */





