@media screen and (min-width: 1025px) {	
	#catalog-content {
		justify-self: center;
		grid-template-columns: repeat(4, 1fr);
		grid-template-row: repeat(auto-fill, min-content);
		grid-gap: 1rem;
		padding: 1rem;
	}

	#catalog-info {
		grid-column: 1 / -1;
		width: 100%;
	}

	.book {
		width: calc(100% - 1rem);
		min-width: 340px;
	}

	.banner {
		max-height: 15rem;
		justify-items: center;

		img {
			margin: 0;
		}
	}
}