@media screen and (min-width: 768px) and (max-width: 1024px) {
	.info {
		grid-column: 1/ -1;
	}

	/* -------------- Home Page ------------- */

	#home-content {
		-ms-grid-columns: (1fr)[6];
		grid-template-columns: repeat(6, 1fr);
	}

	#feature {
		margin-top: 0.5rem;
		width: calc(100% - 2rem);
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
		grid-column: 1 / span 3;
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
		grid-row: 1/ span 2;
	}

	#emblem-video {
		-ms-grid-column: span 3;
		    grid-column-start: span 3;
	}

	#books-link {
		-ms-grid-column: span 3;
		    grid-column-start: span 3;
	}
	.book {
		width: calc(100% - 1rem);
		min-width: 340px;
	}

	/* ------------ Books Page -------------- */

	#books-banner {
		max-height: 10rem;
		img:first-child {
			margin-top: -3rem;
			-ms-grid-column-align: left;
			    justify-self: left;
		}
		img:nth-child(2) {
			margin-top: -1rem;
			-ms-grid-column-align: center;
			    justify-self: center;
		}
		img:nth-child(3) {
			margin-top: -1rem;
			-ms-grid-column-align: right;
			    justify-self: right;
		}
	}

	/* ------------ Delivery Page ------------ */

	table{
		width: auto;
		margin: 2rem 1rem 4rem 1rem;
		text-align: center;
		color: $table-font-color;
	}

	th {
		position: static;
		-webkit-transform: translate(0);
		        transform: translate(0);
		color: $table-header-color;
		background-color: $emblem-color;
		padding: 0.5rem;
	}

	td {
		display: table-cell;
	}

	td::before {
		content: none !important;
	}

	#uk, #europe, #us-can, #world {
		text-align: left;
		padding-right: 3rem;
	}

	#blank {
		background-color: $content-background-color;
	}

	/* ---------- xxth Century Books Page --------- */
	
	#catalog-content {
		-ms-grid-column-align: center;
		    justify-self: center;
		-ms-grid-columns: 1fr 1rem 1fr;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fill, min-content);
		grid-gap: 1rem;
		padding: 1rem;
	}

	#catalog-info {
		grid-column: 1 / -1;
		width: 100%;
	}

	/* --------------- Contact Us Page --------------- */

	form {
		width: calc(100% - 1rem);
		margin: 1rem 0 1rem 0;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	fieldset {
		padding: 1rem;
	}

	label {
		width: 40%;
		margin-top: 0.5rem;		
		float: left;
	}

	input, select {
		width: 55%;
	}

	input[type=radio] {
		width: auto;
		margin: 0 0.5rem 0 0;
	}

	input[type=submit] {
		-ms-grid-column-align: right;
		    justify-self: right;
		-ms-grid-column: 2;
		grid-column: 2;
		width: 30%;
	}

	.subfield > legend {
		width: 100%;
		margin-top: 2rem;
		float: left;
	}

	.radio-label {
		display: inline-block;
	}
}