@import "fonts";
@import "colors";
@import "layout";
@import "images";

html {
	height: 100%;
	font-size: $default-font-size;
	font-family: $default-font;
}

body {
	background-color: $light-grey;
	min-height: 100%;
	min-width: 360px;
	overflow-x: hidden;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}


h1 {
	font-family: $brand-font;
}

a {
	color: $hyperlink-color;
}

header {
	display: grid;
	justify-items: center;
	width: 100%;
	background-color: $header-background-color;
	min-height: calc(49px + 3.3rem);
	max-height: calc(111px + 3.3rem);
	z-index: 1;

	div {
		display: grid;
		grid-template-columns: min-content auto;
		justify-content: center;
		align-items: center;

		margin: 0.2rem 0 0.5rem 0;
		width: 100%;

		border-bottom: 1px solid $dark-grey;
		white-space: nowrap;

		a {
			display: block;
			width: 100%;
			height: 100%;
			z-index: 1;
			grid-column: 1 / span 2;
			grid-row: 1;
		}

		h1 {
			color: $emblem-color;
			font-size: calc(8vh / 3);
			line-height: 1.6;
			grid-column: 2;
			grid-row: 1;

			/* For Landscape Mobile */
			@media screen and (max-height: 670px) {
				font-size: 1rem;
			}
		}
		img {
			height: 100%;
			width: auto;
			justify-self: right;
			margin: 0 0.5rem 0.3rem 0;
			grid-column: 1;
			grid-row: 1;
		}
	}

	nav {
		display: grid;
		grid-template-columns: repeat(3, min-content);
		white-space: nowrap;
		grid-column-gap: 0.7rem;

		margin-bottom: 0.5rem;
		border-bottom: 1px solid $light-grey;

		a {
			text-decoration: none;
			color: desaturate($emblem-color, 20);
		}
	}
}

footer {
	background-color: $footer-background-color;
	width: 100%;
	height: 2.4rem;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	justify-items: center;

	div {
		width: 100%;
		grid-column-start: 2;
		display: grid;
		grid-template-columns: 1fr min-content 1fr;
		justify-items: center;
		grid-column-gap: 0.5rem;
		white-space: nowrap;
		padding: 0.7rem 0 0.5rem 0;

		a {
			color: $footer-link-color;
		}
	}
}

.content {
	background-color: $background-color;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	padding-bottom: 0.5rem;
}

.book {
	@include book;
}

.info {
	@include content-element-style;

	h1 {
		font-family: $default-font;
		font-size: 1.4rem;
		color: $emblem-color;
		margin: 0.5rem 0.5rem 0.4rem 0.7rem;
	}

	p {
		text-align: justify;
		margin: 0 0.7rem 0.7rem 0.7rem;
	}
}

/* ------------------- Home Page ------------------- */

#feature {
	background-color: $emblem-color;
	padding: 0.5rem;
	width: calc(100% - 1rem);

	h1 {
		padding-bottom: 0.3rem;
		font-size: 1.7rem;
		color: $feature-header-color;
		@include shadow("feature");
	}

	div {
		@include book(true);
	}
}

#emblem-video {
	@include content-element-style;
	width: calc(100% - 1rem);
	div {
		display: grid;
		justify-content: center;
		background-color: $dark-grey;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	video {
		max-width: 100%;
	}
}

#books-link {
	@include content-element-style;
	padding: 0;
	margin-top: 0.5rem;
	width: calc(100% - 1rem);

	div {
		width: calc(100% - 0.4rem);
		padding: 0;
		margin: 0.2rem;
		min-height: 4rem;
		background-image: url($books-link-img1), url($books-link-img2);
		background-position: left bottom, right top;
		background-repeat: no-repeat, no-repeat;
		background-size: 40%, 40%;
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
		display: grid;
		justify-items: center;
		align-items: center;

		a {
			text-align: center;
			z-index: 1;
			width: 100%;
			height: 100%;
			text-decoration: none;
			font-size: 4rem;
			font-weight: bold;
			font-family: $brand-font;
			color: $emblem-color;
			@include shadow("booksLink");
		}
	}
}

/* ------------ xxth Century Books Page ------------ */

#books-banner{
	background: $dark-grey;
	width: calc(100% - 1rem);
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	img {
		width: 100%;
		max-width: 225px;
		object-fit: cover;
	}

	/* For Landscape Mobile */
	@media screen and (min-width: 481px) and (max-width: 767px) {
		max-height: 5rem;
		img:first-child {
			margin-top: -3rem;
		}
		img:nth-child(2) {
			margin-top: -1rem;
		}
		img:nth-child(3) {
			margin-top: -1.5rem;
		}
	}
}

#books-banner + div {
	margin-top: 0;
}

@import "tablet-styles";
@import "desktop-styles";