@import "fonts";
@import "colors";
@import "layout";
@import "images";

html {
	height: 100%;
	font-size: $default-font-size;
	font-family: $default-font;
}

body {
	background-color: $light-grey;
	min-height: 100%;
	min-width: 360px;
	display: -ms-grid;
	display: grid;
	justify-items: center;
	-ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
	-ms-grid-rows: min-content 1fr min-content;
	grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
	grid-template-rows: min-content 1fr min-content;
}


h1 {
	font-family: $brand-font;
}

a {
	color: $hyperlink-color;
}

header {
	display: -ms-grid;
	display: grid;
	justify-items: center;
	width: 100%;
	background-color: $header-background-color;
	min-height: calc(49px + 3.3rem);
	max-height: calc(111px + 3.3rem);
	z-index: 1;

	div {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: -webkit-min-content auto;
		-ms-grid-columns: min-content auto;
		grid-template-columns: -webkit-min-content auto;
		grid-template-columns: min-content auto;
		justify-content: center;
		align-items: center;

		margin: 0.5rem 0 0.2rem 0;
		padding-bottom: 0.5rem;
		width: 100%;

		border-bottom: 1px solid $dark-grey;
		white-space: nowrap;

		a {
			display: block;
			width: 100%;
			height: 100%;
			z-index: 1;
			-ms-grid-column: 1;
			-ms-grid-column-span: 2;
			grid-column: 1 / span 2;
			-ms-grid-row: 1;
			grid-row: 1;
		}

		h1 {
			color: $emblem-color;
			font-size: calc(8vh / 3);
			line-height: 1.6;
			-ms-grid-column: 2;
			grid-column: 2;
			-ms-grid-row: 1;
			grid-row: 1;

			/* For Landscape Mobile */
			@media screen and (max-height: 670px) {
				font-size: 1rem;
			}
		}

		img {
			height: 100%;
			width: auto;
			-ms-grid-column-align: right;
			    justify-self: right;
			margin: 0 0.5rem 0.3rem 0;
			-ms-grid-column: 1;
			grid-column: 1;
			-ms-grid-row: 1;
			grid-row: 1;
		}
	}

	nav {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: -webkit-min-content 0.7rem -webkit-min-content 0.7rem -webkit-min-content;
		-ms-grid-columns: min-content 0.7rem min-content 0.7rem min-content;
		grid-template-columns: repeat(3, -webkit-min-content);
		grid-template-columns: repeat(3, min-content);
		white-space: nowrap;
		grid-column-gap: 0.7rem;

		padding: 0.2rem 8% 0.2rem 8%;
		margin-bottom: 0.3rem;
		border-bottom: 1px solid $light-grey;

		a {
			text-decoration: none;
			color: desaturate($emblem-color, 20);
		}
	}
}

main {
	width: 100%;
	max-width: 1920px;
}

footer {
	background-color: $footer-background-color;
	width: 100%;
	height: 2.4rem;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 0.5rem 3fr 0.5rem 1fr;
	grid-template-columns: 1fr 3fr 1fr;
	justify-items: center;

	div {
		width: 100%;
		-ms-grid-column: 2;
		    grid-column-start: 2;
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 0.5rem -webkit-min-content 0.5rem 1fr;
		-ms-grid-columns: 1fr 0.5rem min-content 0.5rem 1fr;
		grid-template-columns: 1fr -webkit-min-content 1fr;
		grid-template-columns: 1fr min-content 1fr;
		justify-items: center;
		grid-column-gap: 0.5rem;
		white-space: nowrap;
		padding: 0.7rem 0 0.5rem 0;

		a {
			color: $footer-link-color;
		}
	}
}

.content {
	background-color: $background-color;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	justify-items: center;
	padding-bottom: 0.5rem;
}

.book {
	@include book;
}

.info {
	@include content-element-style;

	h1 {
		font-family: $default-font;
		font-size: 1.4rem;
		color: $emblem-color;
		margin: 0.5rem 0.5rem 0.4rem 0.7rem;
	}

	p {
		text-align: justify;
		margin: 0 0.7rem 0.7rem 0.7rem;
	}
}

/* General Accessibility Features */

:focus {
	outline: 2px dashed $focus-color;
}

.skiplink {
	position: absolute;
	left: -10000px;
}

.skiplink:focus {
	z-index: 2;
	left: auto;
	top: 0;
	font-size: 2rem;
	background-color: $skiplink-background;
}

/* ------------------- Home Page ------------------- */

#feature {
	background-color: $emblem-color;
	padding: 0.5rem;
	width: calc(100% - 1rem);

	h1 {
		padding-bottom: 0.3rem;
		font-size: 1.7rem;
		color: $feature-header-color;
		@include shadow("feature");
	}

	div {
		@include book(true);
	}
}

#emblem-video {
	@include content-element-style;
	width: calc(100% - 1rem);
	div {
		display: -ms-grid;
		display: grid;
		justify-content: center;
		background-color: $dark-grey;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	video {
		max-width: 100%;
	}
}

#books-link {
	@include content-element-style;
	padding: 0;
	margin-top: 0.5rem;
	width: calc(100% - 1rem);

	div {
		width: calc(100% - 0.4rem);
		padding: 0;
		margin: 0.2rem;
		min-height: 4rem;
		background-image: url($books-link-img1), url($books-link-img2);
		background-position: left bottom, right top;
		background-repeat: no-repeat, no-repeat;
		background-size: 40%, 40%;
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
		display: -ms-grid;
		display: grid;
		justify-items: center;
		align-items: center;

		a {
			text-align: center;
			z-index: 1;
			width: 100%;
			height: 100%;
			text-decoration: none;
			font-size: 4rem;
			font-weight: bold;
			font-family: $brand-font;
			color: $emblem-color;
			@include shadow("booksLink");
		}
	}
}

/* ------------------ Books Page ------------------- */

#books-banner{
	background: $dark-grey;
	width: calc(100% - 1rem);
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[3];
	grid-template-columns: repeat(3, 1fr);

	img {
		width: 100%;
		max-width: 225px;
		-o-object-fit: cover;
		   object-fit: cover;
	}

	/* For Landscape Mobile */
	@media screen and (min-width: 481px) and (max-width: 767px) {
		max-height: 5rem;
		img:first-child {
			margin-top: -3rem;
		}
		img:nth-child(2) {
			margin-top: -1rem;
		}
		img:nth-child(3) {
			margin-top: -1.5rem;
		}
	}
}

#books-banner + div {
	margin-top: 0;
}

/* ----------------- Delivery Page ----------------- */

table{
	width: 90%;
	text-align: right;
	-ms-grid-column-align: center;
	    justify-self: center;
	color: $table-font-color;
	margin: 0.5rem 0 2rem 0;
}

tr {
	white-space: nowrap;
	background-color: lighten($emblem-color, 20%);
}
tr:nth-of-type(even) {
	background-color: lighten($emblem-color, 10%);
}

th {
	position: absolute;
	-webkit-transform: translate(-100vw);
	        transform: translate(-100vw);
}

td { 
	width: 100%;
	display: -ms-grid;
	display: grid;
	justify-items: left;
	-ms-grid-columns: 3fr 1fr;
	grid-template-columns: 3fr 1fr;
	border-bottom: 1px solid #eee; 
	position: relative;
	padding: 0.2rem 0 0.2rem 0;
}

td::before {
	padding-left: 0.5rem;
	-ms-grid-column-align: left;
	    justify-self: left;
	font-family: monospace;
	font-weight: bold;
	color: $table-header-color;
	white-space: pre;
}
@include add-headers;

/* --------------- Contact Us Page --------------- */

form{
	display: -ms-grid;
	display: grid;
	grid-row-gap: 0.5rem;
	margin-bottom: 1rem;
	-ms-grid-column-align: center;
	    justify-self: center;
	width: 100%;
}

fieldset > * {
	display: block;
}

legend {
	font-size: 1.3rem;
	color: $emblem-color;
	margin: 1rem 0 1rem 0;
}

label {
	font-size: 1.1rem;
}

.required:after {
	color: $required-field-color;
	content: " *";
}

input, select {
	margin: 0.5rem 0 0 0;
}


input[type=submit] {
	-ms-grid-column-align: center;
	    justify-self: center;
	width: calc(100% - 0.4rem);
}

input:invalid:focus, select:invalid:focus {
	outline-color: $required-field-color;
}

.subfield {
	margin: 1rem 0 0 0;
	padding: 0;
	border: none;
}

.subfield > legend {
	font-weight: normal;
	font-size: 1.1rem;
	color: $font-color;
	margin-bottom: 0;
}

@import "tablet-styles";
@import "desktop-styles";