@import "fonts";
@import "colors";
@import "layout";
@import "images";

h1 {
	font-family: $brand-font;
}

h2, p, li, a {
	font-size: $default-font-size;
	font-family: $default-font;
}

a {
	color: $hyperlink-color;
}

nav {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	grid-column-gap: 0.7rem;
	justify-items: center;
	width: 78%;

	margin-left: 8%;
	margin-right: 8%;
	padding-top: 0.5rem;
	padding-bottom: .5rem;
	padding-left: 3%;
	padding-right: 3%;

	border-bottom: 1px solid $light-grey;

	a {
		text-decoration: none;
		color: desaturate($emblem-color, 20);
	}
}

header {
	width: 100vw;
	background-color: $header-background-color;
	height: calc(8vh + 3.3rem);

	div {
		display: grid;
		grid-template-columns: min-content auto;
		justify-content: center;
		align-items: center;

		padding-top: 0.5rem;
		padding-bottom: 0.4rem;
		height: 8vh;
		width: 100%;

		border-bottom: 1px solid $dark-grey;

		h1 {
			color: $emblem-color;
			font-size: calc(8vh / 3);
			line-height: 1.6;
		}
		img {
			height: 100%;
			width: auto;
			justify-self: right;
			margin-right: 0.5rem;
		}
	}
}

#feature {
	background-color: $emblem-color;
	padding: 0.5rem;

	h1 {
		padding-bottom: 0.3rem;
		font-size: 1.7rem;
		color: $feature-header-color;
		@include shadow("feature");
	}

	div {
		background-color: $content-background-color;
		margin: 0;
		width: calc(100% - 1rem);
		padding: 0.5rem;

		h2 {
			margin-top: 0rem;
			margin-bottom: 0.4rem;
			font-size: 0.9rem;
		}

		img {
			float: left;
			padding: 0.7rem;
			padding-top: 0;
			padding-left: 0;
		}

		p {
			margin: 0;
			font-size: 0.8rem;
			text-align: justify;
		}
	}
}

#books_link {
	@include content-element-style;
	padding: 0;

	div {
		width: calc(100% - 0.4rem);
		padding: 0;
		margin: 0.2rem;
		min-height: 4rem;
		background-image: url($books-link-img1), url($books-link-img2);
		background-position: left bottom, right top;
		background-repeat: no-repeat, no-repeat;
		background-size: 60%, 60%;
		box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
		display: grid;
		justify-items: center;
		align-items: center;

		a {
			text-decoration: none;
			font-size: 4rem;
			font-weight: bold;
			font-family: $brand-font;
			color: $emblem-color;
			@include shadow("booksLink");
		}
	}
}

#emblem_video {
	@include content-element-style;
	width: calc(100% - 1rem);
	div {
		display: grid;
		justify-content: center;
		background-color: $dark-grey;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	video {
		max-width: 100%;
	}
}

.info {
	@include content-element-style;

	h1 {
		font-family: $default-font;
		font-size: 1.4rem;
		color: $emblem-color;
		margin: 0.5rem;
		margin-bottom: 0.4rem;
	}

	p {
		text-align: justify;
		margin: 0.5rem;
		margin-top: 0;
	}

	a {
		display: inline;
	}
}

.content {
	background-color: $background-color;
	display: grid;
	grid-template-columns: 1fr;
	width: 100vw;
	justify-items: center;

	div:last-child{
		@include content-element-style(true);
	}
}

.inline {
	display: inline;
}

footer {
	background-color: $footer-background-color;
	width: 100vw;
	height: 2.4rem;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	justify-items: center;

	div {
		width: 100%;
		grid-column-start: 2;
		display: grid;
		grid-template-columns: 1fr min-content 1fr;
		justify-items: center;
		grid-column-gap: 0.5rem;
		white-space: nowrap;
		padding-top: 0.7rem;
		padding-bottom: 0.5rem;

		a {
			color: $footer-link-color;
		}
	}
}

body {
	background-color: $light-grey;
	min-width: 360px;
	overflow-x: hidden;
}

#pagewrapper {
	min-height: 100vh;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
}